body {
    background-color: transparent;
    position: absolute;
    color: white;
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

canvas {
    position: absolute;
    z-index: -1;
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

.login {
    width: 40%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 3%;
}

.login .unit {
    text-align: left;
}

.login .titulo {
    font-size: 2vw;
}

.login .option {
    margin: 0;
}

.login .option:hover {
    font-weight: bolder;
    color: black;
    background-color: white;
    border: 2px solid white;
}

.button {
    background-color: white;
    color: black;
    font-size: 24pt;
    font-weight: bolder;
    padding: 1%;
    width: fit-content;
    display: inline-block;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

a {
    margin: 1%;
    text-align: center;
    text-decoration: none;
}

.all-categories {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
}

.category {
    display: inline-block;
    background-color: black;
    position: relative;
    width: calc(100% / 4);
    height: fit-content;
    margin: 2%;
    border: 2px solid white;
    padding: 2%;
}

.category img {
    width: 100%;
    border: 2px solid white;
}

.all-categories .category:first-child .titulo {
    color: cyan;
}

.all-categories .category:nth-child(2) .titulo {
    color: yellow;
}

.all-categories .category:last-child .titulo {
    color: magenta;
}

.category .playlist-room:hover {
    background-color: cyan;
    color: black;
    font-weight: bolder;
    border: 2px solid cyan;
}

.category .song-room:hover {
    background-color: yellow;
    color: black;
    font-weight: bolder;
    border: 2px solid yellow;
}

.category .artist-room:hover {
    background-color: magenta;
    color: black;
    font-weight: bolder;
    border: 2px solid magenta;
}

.category .option {
    margin: 0;
}

.option {
    border: 2px solid white;
    color: white;

    font-size: 1vw;
    font-weight: bolder;

    padding: 1%;
    margin: 3%;
}

.titulo {
    font-weight: bolder;
    font-size: 1.5vw;
    display: inline-block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.leave {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 2%;
}

.leaveArtists:hover {
    color: magenta;
    cursor: pointer;
}

.leaveSongs:hover {
    color: yellow;
    cursor: pointer;
}

.leavePlaylists:hover {
    color: deepskyblue;
    cursor: pointer;
}

.list-people, .list-songs, .list-playlists {
    height: 30vh;
    border: 2px solid white;
    padding: 10px;
    overflow-y: scroll;
}

.menu {
    text-align: left;
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    color: white;
    border: 2px solid white;
    height: 100%;
    width: 20%;
    padding: 30px;
}

h2 {
    margin: 0;
}

.logout {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    border: 2px solid white;
    width: 30%;
    transform: translateY(-50%) translateX(-50%);
    visibility: visible;
    opacity: 1;
    z-index: 5;
}

.logout * {
    opacity: 1;
    z-index: 5;
}

.logout .unit {
    margin: 8%;
    font-size: 12pt;
}

.logout .menu-option {
    margin-bottom: 5%;
}

.share, .create-playlist, .logout-or-home {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    border: 2px solid white;
    width: 40%;
    transform: translateY(-50%) translateX(-50%);
    visibility: visible;
    z-index: 5;
}

.logout-or-home {
    padding: 1%;
}

.logout-or-home .menu-option {
    display: inline-block;
}

.contorno {
    border: 2px solid white;
}

.share * , .create-playlist * {
    z-index: 5;
}

.share .unit, .create-playlist .unit {
    margin: 5%;
}

.share .menu-option, .create-playlist .menu-option {
    display: inline-block;
    margin: 0.5%;
}

.close-share, .close-create, .close-logout, .close-home {
    display: inline-block;
    position: absolute;
    right: 3%;
    top: 5%;
    cursor: pointer;
    z-index: 10;
}

.close-shareA:hover, .close-createA:hover, .close-logoutA:hover {
    color: magenta;
    cursor: pointer;
}

.close-shareS:hover, .close-createS:hover, .close-logoutS:hover {
    color: yellow;
    cursor: pointer;
}

.close-shareP:hover, .close-createP:hover, .close-logoutP:hover {
    color: deepskyblue;
    cursor: pointer;
}

.unit {
    margin-bottom: 5%;
    position: relative;
}

.menu-option {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
}


.menu-option2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;

}

.menu-option:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
    width: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.home-button {
    position: absolute;
    text-align: left;
    left: 1vw;
    top: 3vh;
    width: 50vw;
    font-size: 0.5vw;
    cursor: pointer;
}

.home-button a {
    color: white;
    text-decoration: none;
}

.home-button a:hover {
    text-decoration: underline;
}

.song, .artist, .playlist {
    cursor: pointer;
    display: inline-block;
}

.song:hover {
    color: yellow;
}

.remove {
    display: inline-block;
    position: absolute;
    right: 0;
}


.removeSongs:hover {
    color: yellow;
}

.removeArtists:hover {
    color: magenta;
}

.removePlaylists:hover {
    color: deepskyblue;
}

.playlist:hover {
    color: deepskyblue;
}

.artist:hover {
    color: magenta;
}

.user .username {
    display: inline-block;
    margin-left: 10px;
    transform: translateY(-50%);
}

.user img {
    border-radius: 50%;
}

.hide {
    visibility: hidden;
}

.create-unit {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.create-unit * {
    margin-bottom: 3%;
}

.create-buttons input {
    background-color: black;
    color: white;
    border: 2px solid white;
    font-weight: bold;
}

.create-buttons input:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
    font-weight: bold;
    cursor: pointer;
}

.preview {
    overflow: hidden;
    width: fit-content;
}

.create-buttons {
    text-align: center;
}

.informacao{
    position: absolute;
    text-align: left;
    left: 7vw;
    top: 2.5vh;
    width: 50vw;
}
.info{
    width: 2.5%;
    height: 2.5%;
    cursor: pointer;


}

.popup-info{
    width: 600px;
    height: 600px;
    background: black;
    outline: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(8%);
    display: none;
    z-index: 5;
}

.imagem-info{
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
}

.fechar-info{
    display: inline-block;
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
    z-index: 10;
}

.fechar-infoA:hover{
    color: magenta;
    cursor: pointer;
}

.fechar-infoS:hover{
    color: yellow;
    cursor: pointer;
}

.fechar-infoP:hover{
    color: deepskyblue;
    cursor: pointer;
}