body {
    background-color: transparent;
    position: absolute;
    color: white;
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

canvas {
    position: absolute;
    z-index: -1;
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

.button {
    background-color: white;
    color: black;
    font-size: 24pt;
    font-weight: bolder;
    padding: 1%;
    width: fit-content;
    display: inline-block;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

a {
    margin: 1%;
    text-align: center;
    text-decoration: none;
}

.all-categories {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
}

.category {
    display: inline-block;
    position: relative;
    height: 100%;
    margin-left: 5%;
    border: 2px solid white;
    padding: 2%;
}

.all-categories .category:first-child .titulo {
    color: cyan;
}

.all-categories .category:nth-child(2) .titulo {
    color: yellow;
}

.all-categories .category:last-child .titulo {
    color: magenta;
}

.category .playlist-room:hover {
    background-color: cyan;
    color: black;
    font-weight: bolder;
    border: 2px solid cyan;
}

.category .song-room:hover {
    background-color: yellow;
    color: black;
    font-weight: bolder;
    border: 2px solid yellow;
}

.category .artist-room:hover {
    background-color: magenta;
    color: black;
    font-weight: bolder;
    border: 2px solid magenta;
}

.option {
    border: 2px solid white;
    color: white;

    font-size: 18pt;
    font-weight: bolder;

    padding: 1%;
    margin: 3%;
}

.titulo {
    font-weight: bolder;
    font-size: 24pt;
    display: inline-block;
}

.leave {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 2%;
}

.leave:hover {
    color: yellow;
    cursor: pointer;
}

.list-people, .list-songs, .list-playlists {
    height: 30vh;
    border: 2px solid white;
    padding: 10px;
    overflow-y: scroll;
}

.menu {
    text-align: left;
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    color: white;
    border: 2px solid white;
    height: 100%;
    width: 20%;
    padding: 30px;
}

h2 {
    margin: 0;
}

.logout {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    border: 2px solid white;
    height: 30%;
    width: 30%;
    transform: translateY(-50%) translateX(-50%);
    visibility: visible;
}

.logout .unit {
    margin: 8%;
    font-size: 12pt;
}

.logout .menu-option {
    margin-bottom: 5%;
}

.share {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    border: 2px solid white;
    height: 30%;
    width: 40%;
    transform: translateY(-50%) translateX(-50%);
    visibility: visible;
}

.share .unit {
    margin: 5%;
}

.share .menu-option {
    display: inline-block;
    margin: 0.5%;
}

.close-share {
    display: inline-block;
    position: absolute;
    right: 3%;
    top: 5%;
    cursor: pointer;
}

.close-share:hover {
    color: yellow;
    cursor: pointer;
}

.unit {
    margin-bottom: 15px;
    position: relative;
}

.menu-option {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
}

.menu-option:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
    width: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.home-button {
    position: absolute;
    text-align: left;
    left: 1vw;
    top: 3vh;
    width: 50vw;
    font-size: 0.5vw;
}

.home-button a {
    color: white;
    text-decoration: none;
}

.home-button a:hover {
    text-decoration: underline;
}

.song, .artist, .playlist {
    cursor: pointer;
    display: inline-block;
}

.song:hover {
    color: yellow;
}

.remove {
    display: inline-block;
    position: absolute;
    right: 0;
}

.remove:hover {
    color: yellow;
}

.playlist:hover {
    color: deepskyblue;
}

.artist:hover {
    color: magenta;
}

.user .username {
    display: inline-block;
    margin-left: 10px;
    transform: translateY(-50%);
}

.user img {
    border-radius: 50%;
}

.hide {
    visibility: hidden;
}